body {
  box-sizing: border-box;
}

p,
label {
  font: 1rem "Fira Sans", sans-serif;
}

fieldset {
  width: 50%;
  margin: auto;
  margin-top: 200px;
}

legend {
  text-transform: uppercase;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

input {
  margin: 0.4rem;
}

.text-paraph {
  margin-bottom: 0;
  font-size: x-large;
}
